#app-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 900px;
  width: 100%;
  gap: 80px;
  background-image: url(https://64.media.tumblr.com/e6ea224143f7a0fc5f2f5648e7ea8abe/tumblr_os68iuswWY1uob8tfo1_540.gif);
  background-size: cover;
  background-position: right;
  border-bottom: 4px white solid;
}

#blurred {
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 900px;
  backdrop-filter: blur(5px);
}

.download-box {
  border: 1px solid #53575e;
  background-color: #fffcfc;
  padding: 20px;
  border-radius: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.26);
}

.download-box img {
  border-radius: 20px;
}

.download-box div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.download-box div p {
  color: rgb(92, 92, 92);
}

#pagetitle {
  font-weight: bold;
  z-index: 1;
  color: white;
  font-size: 50px;
}

#downloadboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

@media screen and (max-width: 1300px) {
  #app-section {
    gap: 20px;
  }

  .download-box {
    width: 420px;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .download-box img {
    width: 380px;
    height: 250px;
    object-fit: cover;
  }

  #pagetitle {
    font-size: 35px;
  }

  #downloadboxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
  }
}

@media screen and (max-width: 800px) {
  #app-section {
    gap: 10px;
    justify-content: space-around;
  }

  .download-box {
    width: 300px;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .download-box img {
    width: 250px;
    height: 200px;
    object-fit: cover;
  }

  #pagetitle {
    font-size: 30px;
  }

  #downloadboxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
  }
}


