#box_atropos {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  min-height: 900px;
  width: 100%;
  background-image: url(../images/home.jpg);
  background-size: cover;
  border-bottom: 4px white solid;
}

#box {
  width: 700px;
  animation: slide-in-elliptic-top-fwd 2s;
}

#main_box:hover span {
  color: #23c483;
  transition: ease-in-out 0.2s;
}

#main_box {
  display: flex;
  border-radius: 30px;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  background: hsla(0, 0%, 21%, 0.644);
  backdrop-filter: blur(10px);
}

#textbox h1 {
  font-size: 50px;
  color: white;
  font-family: "Century Gothic", monospace;
}

/* CSS */
.button-green {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button-green:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button-green:active {
  transform: translateY(-1px);
}

/* Animações de entrada */
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

/* Versão mobile do menu */
@media screen and (max-width: 769px) {
  #box_atropos {
    background-size: cover;
    background-position: center;
  }
  #box {
    width: 400px;
  }
  #main_box {
    gap: 50px;
    height: 350px;
  }
  #textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
  }
  #textbox h1 {
    font-size: 30px;
    color: white;
    font-weight: 800;
  }
}

@media screen and (max-width: 400px) {
  #box {
    width: 300px;
  }
  #textbox {
    gap: 20px;
  }
  #textbox h1 {
    font-size: 20px;
  }
}
