nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(134, 134, 134, 0.5); /* Fundo semi-transparente */
  background: linear-gradient(
    to bottom,
    rgba(134, 134, 134, 0.5) 0%,
    rgba(134, 134, 134, 0.3) 50%,
    rgba(134, 134, 134, 0) 100%
  ); /* Degradê para a transição de opacidade */
  backdrop-filter: blur(10px); /* Aplica o efeito de blur */
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 15px;
  position: relative;
}

#logo {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
  animation: tracking-in-contract 0.8s;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/* Animação dos textos do Header */
.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #ffffff;
}

.nav-link-grow-up::before {
  height: 0%;
  width: 100%;
  bottom: 0px;
}

.nav-link-grow-up:hover::before {
  height: 5px;
}

#mobile-menu {
  display: none;
}

/* Versão mobile do menu */
@media screen and (max-width: 769px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 50px;
    right: -300px;
    width: 300px;
    height: 100vh;
    transition: 0.05s ease-in-out;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.6);
  }
  #navbar.expand {
    right: 0px;
  }
  #mobile-menu {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  nav {
    padding: 0px 20px;
  }
}
